<div class="content-page">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-header d-flex justify-content-between">
                  <div class="header-title">
                     <h4 class="card-title">User List</h4>
                  </div>
               </div>
               <div class="card-body">
                  <div class="table-responsive">
                     <div class="row justify-content-between">
                        <div class="col-sm-6 col-md-6">
                           <div id="user_list_datatable_info" class="dataTables_filter">
                              <form class="mr-3 position-relative">
                                 <div class="form-group mb-0">
                                    <input type="search" class="form-control" id="exampleInputSearch"
                                       placeholder="Search" aria-controls="user-list-table">
                                 </div>
                              </form>
                           </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                           <div class="user-list-files d-flex">
                              <a class="bg-primary" href="javascript:void();">
                                 Print
                              </a>
                              <a class="bg-primary" href="javascript:void();">
                                 Excel
                              </a>
                              <a class="bg-primary" href="javascript:void();">
                                 Pdf
                              </a>
                           </div>
                        </div>
                     </div>
                     <table id="user-list-table" class="table table-striped dataTable mt-4" role="grid"
                        aria-describedby="user-list-page-info">
                        <thead>
                           <tr class="ligth">
                              <th>Profile</th>
                              <th>Name</th>
                              <th>Gender</th>
                              <th>Contact</th>
                              <th>Email</th>
                              <th>Address</th>
                              <th>Status</th>
                              <th style="min-width: 100px">Action</th>
                           </tr>
                        </thead>
                        <tbody id="where-to-place-template">
                           {{!--template--}}



                           {{!--template--}}
                        </tbody>
                     </table>
                  </div>
                  <div class="row justify-content-between mt-3">
                     <div id="user-list-page-info" class="col-md-6">
                        <span>Showing 1 to 5 of 5 entries</span>
                     </div>
                     <div class="col-md-6">
                        <nav aria-label="Page navigation example">
                           <ul class="pagination justify-content-end mb-0" id="account-pagination">
                              {{!-- <li class="page-item disabled">
                                 <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                              </li>
                              
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                 <a class="page-link" href="#">Next</a>
                              </li> --}}
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<script id="account-template" type="text/x-handlebars-template">
\{{#each .}}
<tr>
   <td class="text-center"><img class="rounded img-fluid avatar-40"
         src="/admin/images/user/01.jpg" alt="profile"></td>
   <td>\{{userName}}</td>
   <td>\{{userGender}}</td>
   <td>\{{userPhone}}</td>
   <td>\{{userEmail}}</td>
   <td>\{{userAddress}}</td>
   <td><span class="badge bg-primary">Active</span></td>
   <td>
      <div class="flex align-items-center list-user-action">
         <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title=""
            data-original-title="Add" href="#"><i class="ri-user-add-line mr-0"></i></a>
         <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title=""
            data-original-title="Edit" href="#"><i class="ri-pencil-line mr-0"></i></a>
         <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title=""
            data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a>
      </div>
   </td>
</tr>
\{{/each}}

</script>

<script id="pagination-template" type="text/x-handlebars-template">
    \{{#each pagearray as |PA|}}
    <li class="page-item active"><a class="page-link" href="#">\{{PA}}</a></li>
    \{{/each}}
</script>


{{#extend "scripts"}}
<script>
   function loadProductPage(page) {
      $.getJSON(`/customer/list/infor?page=${page}`, function (data) {
         var source = $('#account-template').html();
         var template = Handlebars.compile(source);
         var html = template(data.listAccounts);
         $('#where-to-place-template').html(html);

         /*var links = Array.from(Array(products.paging.last_page - products.paging.first_page + 1)).map((_, idx) =>
         ({
            pageNumber: idx + products.paging.first_page,
         }));*/
         var links = data.pageObject;
         $('#account-pagination').html(Handlebars.compile($('#pagination-template').html())(links));
         $('#account-pagination .page-link').click(function (event) {
            event.preventDefault();
            loadProductPage($(this).html());
         });
      });
   }

   loadProductPage(1);
</script>
{{/extend}}