<div class="content-page">
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h4 class="card-title">Order List</h4>
               </div>
            </div>
            <div class="card-body">
               <div class="table-responsive">
                  <div class="row justify-content-between">
                     
                  </div>
                  <table id="user-list-table" class="table table-striped dataTable mt-4" role="grid"
                     aria-describedby="user-list-page-info">
                     <thead>
                        <tr class="ligth">
                           <th>orderId</th>
                           <th>userPhone</th>
                           <th>orderAddress</th>
                           <th>orderPrice</th>
                           <th>orderStatus</th>
                           
                        </tr>
                     </thead>
                     <tbody>
                        
                        {{#each orderList}}
                           <tr>
                           
                           <td>{{orderId}}</td>
                           <td>{{userPhone}}</td>
                           <td>{{orderAddress}}</td>
                           <td>{{orderPrice}}</td>
                           <td>{{orderStatus}}</td>
                           
                        </tr>
                        {{/each}}
                        
                     </tbody>
                  </table>
               </div>
               {{!-- <div class="row justify-content-between mt-3">
                  <div id="user-list-page-info" class="col-md-6">
                     <span>Showing 1 to 5 of 5 entries</span>
                  </div>
                  <div class="col-md-6">
                     <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end mb-0">
                           <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                           </li>
                           <li class="page-item active"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>
                           <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                           </li>
                        </ul>
                     </nav>
                  </div> --}}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>