<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Cart</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="where-you-place-product-list">
                            {{!----------------------template block -------------------------------------- --}}
                            {{#each detail}}
                            <tr class="text-center">
                                <td class="product-remove"><span
                                        id="{{idProduct}}"></span></td>

                                <td class="image-prod">
                                    <div class="img" style="background-image:url({{productImage}});"></div>
                                </td>

                                <td class="product-name">
                                    <h3>{{productName}}</h3>
                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                </td>

                                <td class="price">{{productPrice}}</td>

                                <td class="quantity">
                                    <div class="input-group mb-3">
                                        <input type="text" name="quantity" class="quantity form-control input-number"
                                            value="{{quantity}}" min="1" max="100">
                                    </div>
                                </td>

                                <td class="total" id="total-each-product">{{total}}</td>
                                {{/each}}
                                {{!----------------------template block -------------------------------------- --}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
</section>
{{!--
{{#extend "scripts"}}

<script id="product-template" type="text/x-handlebars-template">
    \{{#each detail}}
    <tr class="text-center">
        <td class="product-remove"><span class="icon-close remove-cart-button" id="\{{idProduct}}"></span></td>

        <td class="image-prod">
            <div class="img" style="background-image:url(\{{productImage}});"></div>
        </td>

        <td class="product-name">
            <h3>\{{productName}}</h3>
            <p>Far far away, behind the word mountains, far from the countries</p>
        </td>

        <td class="price">\{{productPrice}}</td>

        <td class="quantity">
            <div class="input-group mb-3">
                <input type="text" name="quantity" class="quantity form-control input-number"
                    value="\{{quantity}}" min="1" max="100">
            </div>
        </td>

        <td class="total" id="total-each-product">\{{total}}</td>
    \{{/each}}
</script>


<script>
    function loadCart() {
        $.getJSON('/cart/cart-detail', function (data) {
            var source = $('#product-template').html();
            var template = Handlebars.compile(source);
            var html = template(data);
            $('#where-you-place-product-list').html(html);

            let len = data.detail.length;
            if (len == 0) {
                document.getElementById('Subtotal').innerHTML(0);
                document.getElementById('total-price').innerHTML(0);
            }
            else {
                let totalPrice = Number(0);
                for (let i = 0; i < len; ++i) {
                    totalPrice += Number(data.detail[i].total);
                }
                $('#Subtotal').html(totalPrice);
                $('#total-price').html(totalPrice);
            }

            $('.remove-cart-button').click(function (event) {
                let removeId = $(this).attr("id");
                $.get('/cart/remove/' + removeId, function () {
                    event.preventDefault();
                })
                loadCart();
            })
        })
    }

    loadCart();
</script>
{{/extend}} --}}