<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>Edit Product</title>

   <!-- Favicon -->
   <link rel="shortcut icon" href="/admin/images/favicon.ico" />
   <link rel="shortcut icon" href="/admin/images/favicon.ico" />
   <link rel="stylesheet" href="/admin/css/backend-plugin.min.css">
   <link rel="stylesheet" href="/admin/css/backend.css?v=1.0.0">
   <link rel="stylesheet" href="/admin/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
   <link rel="stylesheet" href="/admin/vendor/remixicon/fonts/remixicon.css">

   <link rel="stylesheet" href="/admin/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css">
   <link rel="stylesheet" href="/admin/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css">
   <link rel="stylesheet" href="/admin/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css">
</head>

<body class="  ">
   <!-- loader Start -->

   <!-- loader END -->
   <!-- Wrapper Start -->
   <div class="content-page">
      <div class="container-fluid">
         <div class="row">
            <form action="/manageProduct/editProduct/{{product.idProduct}}" method="POST">
               <div class="col-xl-3 col-lg-4">
                  <div class="card">
                     <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                           <h4 class="card-title">Edit Product</h4>
                        </div>
                     </div>
                     <div class="card-body">
                        <div class="crm-profile-img-edit position-relative">
                           <img class="crm-profile-pic rounded avatar-100" src="{{product.productImage}}"
                              alt="profile-pic">
                        </div>

                        {{!-- <input type="file" name="files" multiple> --}}



                     </div>
                  </div>

               </div>

               <div class="col-xl-9 col-lg-8">
                  <div class="card">
                     <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                           <h4 class="card-title">Edit Product Information</h4>
                        </div>
                     </div>
                     <div class="card-body">
                        <div class="new-user-info">

                           <input type="text" value='{{product.idProduct}}' name="idProduct" hidden="true">
                           <div class="row">
                              <div class="form-group col-md-12">
                                 <label for="fname">Product Name</label>
                                 <input type="text" value='{{product.productName}}' class="form-control" id="fname"
                                    placeholder="Product Name" name="productName">
                              </div>

                              <div class="form-group col-md-12">
                                 <label for="add1">Price</label>
                                 <input type="text" value='{{product.productPrice}}' class="form-control" id="add1"
                                    placeholder="Price" name="productPrice">
                              </div>


                              <div class="form-group col-md-12">
                                 <label for="cname">Release Date</label>
                                 <input type="text" value='{{product.releaseDate}}' readonly="true" class="form-control"
                                    id="cname" placeholder="Release Date" name="productReleaseDate">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>




               <button type="submit" class="btn btn-primary" style="margin-left: 20px;">Save</button>
            </form>
         </div>
      </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   <!-- Wrapper End-->

   <!-- Modal list start -->



   <!-- Backend Bundle JavaScript -->
   {{!--
   <script src="/admin/js/backend-bundle.min.js"></script>

   <!-- Table Treeview JavaScript -->
   <script src="/admin/js/table-treeview.js"></script> --}}

   <!-- Chart Custom JavaScript -->
   <script src="/admin/js/customizer.js"></script>

   <!-- Chart Custom JavaScript -->
   <script async src="/admin/js/chart-custom.js"></script>
   <!-- Chart Custom JavaScript -->
   <script async src="/admin/js/slider.js"></script>

   <!-- app JavaScript -->
   {{!--
   <script src="/admin/js/app.js"></script> --}}

   <script src="/admin/vendor/moment.min.js"></script>



</body>

</html>