

<div class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="{{mainProduct.productImage}}" class="image-popup">
                    <img src="{{mainProduct.productImage}}" alt="black latte" class="img-fluid" />
                </a>
            </div>
            <div class="col-lg-6 mb-5 ftco-animate">
                <h2>{{mainProduct.productName}}</h2>
                <p>{{mainProduct.productPrice}} VND</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
                    paradisematic country,
                    in which roasted parts of sentences fly into your mouth.</p>

                <div class="select-wrap mb-4">
                    <div class="icon">
                        <span class="ion-ios-arrow-down">
                            <select name="size_selection" id="size_selection" class="form-control-w100">
                                <option value="size-small">Small</option>
                                <option value="size-medium">Medium</option>
                                <option value="size-large">Large</option>
                            </select>
                        </span>
                    </div>
                </div>

                <div class="w-100">
                    <div class="input-group col-md-6 d-flex mb-4">
                        <span class="input-group-btn mr-2">
                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                <i class="icon-minus"></i>
                            </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1"
                            min="1" max="100">
                        <span class="input-group-btn ml-2">
                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                <i class="icon-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
            </div>
        </div>
    </div>

    {{!-- relative product --}}

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <span class="subheading">Discover</span>
                    <h2 class="mb-4">Related products</h2>
                    <p>Let's try some other great products:</p>
                </div>
            </div>
            <div class="row">
                {{#each relativeProducts}}
                <div class="col-md-3">
                    <div class="menu-entry">
                        <a href="detail?idprod={{idProduct}}&type={{productType}}" class="img" style="background-image: url({{productImage}});"></a>
                        <div class="text text-center pt-4">
                            <h3><a href="detail?idprod={{idProduct}}&type={{productType}}">{{productName}}</a></h3>
                            <p>A small river named Duden flows by their place and supplies</p>
                            <p class="price"><span>{{productPrice}} VND</span></p>
                            <p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{!-- <div class="col-md-3">
                    <div class="menu-entry">
                        <a href="#" class="img" style="background-image: url(images/menu-2.jpg);"></a>
                        <div class="text text-center pt-4">
                            <h3><a href="#">Coffee Capuccino</a></h3>
                            <p>A small river named Duden flows by their place and supplies</p>
                            <p class="price"><span>$5.90</span></p>
                            <p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="menu-entry">
                        <a href="#" class="img" style="background-image: url(images/menu-3.jpg);"></a>
                        <div class="text text-center pt-4">
                            <h3><a href="#">Coffee Capuccino</a></h3>
                            <p>A small river named Duden flows by their place and supplies</p>
                            <p class="price"><span>$5.90</span></p>
                            <p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="menu-entry">
                        <a href="#" class="img" style="background-image: url(images/menu-4.jpg);"></a>
                        <div class="text text-center pt-4">
                            <h3><a href="#">Coffee Capuccino</a></h3>
                            <p>A small river named Duden flows by their place and supplies</p>
                            <p class="price"><span>$5.90</span></p>
                            <p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </section>

</div>